<div style="background-color: #EDF7FF; border-color: #7C9DBF; border-left: 5px solid #7C9DBF; padding: 0.5em;">
 

<strong>Objectives:</strong>

    
    
<strong>Conclusions:</strong>

   
</div>

In [2]:
import os, sys

def get_root_path(search_word):
    """ Búsqueda hacia atrás de un directorio con nombre search_word. """
    cwd = os.getcwd()
    while str(os.getcwd()).split('/')[-1] != search_word:
        os.chdir("..")
        cwd = os.getcwd()
    return cwd

ROOT_DIR = get_root_path('TFM_StockForecast')

sys.path.insert(0, ROOT_DIR) # Poner en el primer lugar del PATH (evitar paquetes con mismos nombres en otros directorios)

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from src.load_data import load_csv, load_data

In [4]:
df = load_data()
df.head()

===================  LOAD DATASET stock ====================
Reading CSV in data/raw/03_TablaStock.csv...
=============  CLEAN CSV  ==============
Set columns to lowcase.
Sort values by date.
Dropped duplicates. Rows dropped: 628.
========================================
============  CLEAN STOCK  =============
Dropped rows with data from products with no stock data or out-of-date (descatalogados). Rows dropped: 1784
[WARNING] Number of dates missings:                                83
[WARNING] Number of dates missings (droping sundays and festivos): 63
[WARNING] Stock data with different units for same product & data. Rows: 12666
========================================
Dataset stock loaded. Shape: (25518, 3)
============================================================

===================  LOAD DATASET ventas ===================
Reading CSV in data/raw/01_TablaVentas.csv...
=============  CLEAN CSV  ==============
Set columns to lowcase.
Sort values by date.
Dropped duplicates. Rows dropped: 0.
========================================
============  CLEAN VENTAS  ============
Dropped rows with data from products with no stock data or out-of-date (descatalogados). Rows dropped: 14086
[WARNING] Number of dates missings:                                223
[WARNING] Number of dates missings (droping sundays and festivos): 7
UnidadesVentas to integer.
========================================
Dataset ventas loaded. Shape: (91571, 3)
============================================================

=================  LOAD DATASET prevision ==================
Reading CSV in data/raw/04_PrevisionEmpresa.csv...
=============  CLEAN CSV  ==============
Set columns to lowcase.
Sort values by date.
Dropped duplicates. Rows dropped: 0.
========================================
==========  CLEAN PREVISION  ===========
Dropped rows with data from products with no stock data or out-of-date (descatalogados). Rows dropped: 3234
[WARNING] Number of dates missings:                                46
[WARNING] Number of dates missings (droping sundays and festivos): 35
UnidadesPrevisionVentas to integer.
========================================
Dataset prevision loaded. Shape: (22342, 3)
============================================================

==================  LOAD DATASET festivos ==================
Reading CSV in data/raw/05_Festivos.csv...
=============  CLEAN CSV  ==============
Set columns to lowcase.
Sort values by date.
Dropped duplicates. Rows dropped: 0.
========================================
===========  CLEAN FESTIVOS  ===========
Drop unnecesary columns.
========================================
Dataset festivos loaded. Shape: (56, 2)
============================================================

===================  LOAD DATASET promos ===================
Reading CSV in data/raw/02_TablaPromos.csv...
=============  CLEAN CSV  ==============
Set columns to lowcase.
Sort values by date.
Dropped duplicates. Rows dropped: 0.
========================================
============  CLEAN PROMOS  ============
Drop rows of promos without end date:
   Rows dropped: 11
   The most recent of the promos dropped was started in 2018-04-01 00:00:00
Created new variable ahorro (preciotarifa - preciopromo)
========================================
Dataset promos loaded. Shape: (6399, 11)
============================================================

==================  BUILD RANGED PROMOS  ===================
Dataset promos from intervals to range builded.
============================================================

===================  JOIN DATASET STOCK  ===================
Input shape: (25518, 3)
[WARNING] Dropping duplicates in fecha | producto for stock data [TEMPORARY]
Stock dataframe received with data from 2019-06-05 to 2020-03-26
Created dataframe for 296 days and 72 products [shape: (21312, 2)]
Merged dataframe with stock data    [shape: (21312, 3)]
Merged dataframe with ventas data    [shape: (21312, 4)]
Merged dataframe with prevision data    [shape: (21312, 5)]
Merged dataframe with promos range data    [shape: (21312, 6)]
Merged dataframe with festivos data    [shape: (21312, 7)]
Output shape: (21312, 7)
============================================================

=================  CLEANER DATASET STOCK  ==================
Input shape: (21312, 7)
Getting stock missing type

/mnt/c/Users/Administrador/Documents/GitHub/TFM_StockForecast/src/create_variables.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ts['missing'] = (ts.udsstock.isna()) * 1

Getting datetime variables: weekday
============================================================

,fecha,producto,udsstock,udsventa,udsprevisionempresa,promo,festivo,stockMissingType,weekday
0,2019-06-05,1,18275.0,2833.0,102304.0,0.0,0.0,0.0,2
1,2019-06-05,10,2267.0,1874.0,36888.0,1.0,0.0,0.0,2
2,2019-06-05,11,2506.0,2755.0,31078.0,0.0,0.0,0.0,2
3,2019-06-05,12,1279.0,1161.0,33661.0,0.0,0.0,0.0,2
4,2019-06-05,13,2493.0,1603.0,32119.0,1.0,0.0,0.0,2

In [5]:
df.info()
df

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21312 entries, 0 to 21311
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   fecha                21312 non-null  datetime64[ns]
 1   producto             21312 non-null  object
 2   udsstock             12852 non-null  float64
 3   udsventa             15891 non-null  float64
 4   udsprevisionempresa  16354 non-null  float64
 5   promo                21312 non-null  float64
 6   festivo              21312 non-null  float64
 7   stockMissingType     21312 non-null  float64
 8   weekday              21312 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(1), object(1)
memory usage: 1.6+ MB

,fecha,producto,udsstock,udsventa,udsprevisionempresa,promo,festivo,stockMissingType,weekday
0,2019-06-05,1,18275.0,2833.0,102304.0,0.0,0.0,0.0,2
1,2019-06-05,10,2267.0,1874.0,36888.0,1.0,0.0,0.0,2
2,2019-06-05,11,2506.0,2755.0,31078.0,0.0,0.0,0.0,2
3,2019-06-05,12,1279.0,1161.0,33661.0,0.0,0.0,0.0,2
4,2019-06-05,13,2493.0,1603.0,32119.0,1.0,0.0,0.0,2
...,...,...,...,...,...,...,...,...,...
21307,2020-03-26,95,NaN,NaN,NaN,0.0,0.0,2.0,3
21308,2020-03-26,96,465.0,NaN,266.0,1.0,0.0,0.0,3
21309,2020-03-26,97,395.0,NaN,235.0,0.0,0.0,0.0,3
21310,2020-03-26,98,95.0,NaN,243.0,0.0,0.0,0.0,3
21311,2020-03-26,99,NaN,NaN,NaN,0.0,0.0,2.0,3

In [6]:
df1 = df.loc[df.producto == "1"]

df1.info()
df1

<class 'pandas.core.frame.DataFrame'>
Int64Index: 296 entries, 0 to 21240
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   fecha                296 non-null    datetime64[ns]
 1   producto             296 non-null    object
 2   udsstock             197 non-null    float64
 3   udsventa             224 non-null    float64
 4   udsprevisionempresa  238 non-null    float64
 5   promo                296 non-null    float64
 6   festivo              296 non-null    float64
 7   stockMissingType     296 non-null    float64
 8   weekday              296 non-null    int64
dtypes: datetime64[ns](1), float64(6), int64(1), object(1)
memory usage: 23.1+ KB

,fecha,producto,udsstock,udsventa,udsprevisionempresa,promo,festivo,stockMissingType,weekday
0,2019-06-05,1,18275.0,2833.0,102304.0,0.0,0.0,0.0,2
72,2019-06-06,1,NaN,17475.0,34479.0,1.0,0.0,2.0,3
144,2019-06-07,1,NaN,4250.0,25127.0,0.0,0.0,2.0,4
216,2019-06-08,1,NaN,NaN,98716.0,0.0,0.0,2.0,5
288,2019-06-09,1,NaN,NaN,NaN,0.0,0.0,2.0,6
...,...,...,...,...,...,...,...,...,...
20952,2020-03-22,1,4283.0,NaN,NaN,0.0,0.0,0.0,6
21024,2020-03-23,1,4283.0,NaN,2267.0,0.0,0.0,0.0,0
21096,2020-03-24,1,4344.0,NaN,3211.0,0.0,0.0,0.0,1
21168,2020-03-25,1,1058.0,NaN,13036.0,0.0,0.0,0.0,2
21240,2020-03-26,1,3375.0,NaN,7557.0,0.0,0.0,0.0,3

In [7]:
from src.prepare_data import prepare_train_data

df_prepared = prepare_train_data(df1)

df_prepared.info()

===================  FILTER TRAIN DATA  ====================
Dropped rows corresponding to 23 to 26-03-2020 for not having the ventas data for these days.
Rows dropped: 4
Dropped rows corresponding to missing from periods longer than one day.
Rows dropped: 85
Assigned missings in udstock with fill forward method with 1 period limit
Output shape: (207, 9)
============================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   fecha                207 non-null    datetime64[ns]
 1   producto             207 non-null    object
 2   udsstock             207 non-null    float64
 3   udsventa             170 non-null    float64
 4   udsprevisionempresa  176 non-null    float64
 5   promo                207 non-null    float64
 6   festivo              207 non-null    float64
 7   stockMissingType     207 non-null    float64
 8   weekday              207 non-null    int64
dtypes: datetime64[ns](1), float64(6), int64(1), object(1)
memory usage: 14.7+ KB

In [6]:
df_prepared.stockMissingType.value_counts()

0.0    12609
1.0      973
Name: stockMissingType, dtype: int64

In [10]:
df_prepared['udsstock'] = df_prepared['udsstock'].sort_values('producto').fillna(method='pad', limit=2)
df_prepared.stockMissingType.value_counts()

ValueError: No axis named producto for object type <class 'pandas.core.series.Series'>

In [9]:
df_prepared.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13582 entries, 0 to 13581
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   fecha                13582 non-null  datetime64[ns]
 1   producto             13582 non-null  object
 2   udsstock             12946 non-null  float64
 3   udsventa             11031 non-null  float64
 4   udsprevisionempresa  11099 non-null  float64
 5   promo                13582 non-null  float64
 6   festivo              13582 non-null  float64
 7   stockMissingType     13582 non-null  float64
 8   weekday              13582 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(1), object(1)
memory usage: 955.1+ KB

# Missings totales de cada tipo

In [7]:
df.stockMissingType.value_counts()

0.0    12852
2.0     7486
1.0      974
Name: stockMissingType, dtype: int64

# Missings por producto

In [12]:
byprod = df.loc[df.stockMissingType != 0].groupby('producto')['fecha'].count().reset_index().sort_values("fecha", ascending=False)

byprod.loc[byprod.fecha > 150]

   producto  fecha
71       99    292
58       80    279
60       85    235
67       95    232
41       58    221
38       53    203
35        5    177
37       52    162
43       60    161
18       29    153

# Datos asignables por producto)

In [18]:
byprod = df.loc[df.stockMissingType != 2].groupby('producto')['fecha'].count().reset_index().sort_values("fecha")

print("Series con menos de 100 datos asignables:")
byprod.loc[byprod.fecha < 100]

Series con menos de 100 datos asignables:

   producto  fecha
71       99      5
58       80     19
60       85     64
67       95     75
41       58     82
38       53     99

# Missings totales quitando los productos con menos de 100 datos asignables

In [21]:
discard_prod = byprod.loc[byprod.fecha < 100].producto
df.loc[~df.producto.isin(discard_prod)].stockMissingType.value_counts()

0.0    12538
2.0     6054
1.0      944
Name: stockMissingType, dtype: int64

In [46]:
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error
from math import sqrt
def validate(actual, pred, y_mean=None):
    """
    Computes different metrics in order to validate a model (mape, mae, std_error, R2, RMSE). 
    
    Args:
        actual (list, np.array or a pd.Series): contains the values of target variable in the test set.
        pred (list, np.array or a pd.Series): contains the values of predicted target variable.
    Returns:
        metrics (dictionary):   a dictionary which cointains the metrics that will evaluate the prediction 
                                error of the model
    """
    metrics = {}
    actual, pred = np.array(actual), np.array(pred)
    # Base metrics
    metrics["mean_error"] = (actual-pred).mean()
    std_error = np.std(actual-pred)
    metrics["std_error"] = std_error
    metrics["r2"] = r2_score(actual,pred)
    metrics["predict_out"] = sum(pred>actual+2*std_error)+sum(pred<actual-2*std_error)

    # Scale dependant metrics
    metrics["mae"] = mean_absolute_error(actual,pred)
    metrics["rmse"] = sqrt(mean_squared_error(actual,pred))

    # Percentage metrics
    metrics["mape"] = np.mean(np.abs(actual - pred) / actual) * 100
    metrics["smape"] = np.mean(np.abs(actual - pred) / (actual + pred)) * 200

    # Relative error metrics (relative to avg prediction)
    if y_mean != None:
        metrics["mdrae"] = np.median(np.abs((actual-pred)/(actual-y_mean)))
    
    # Scale-free error metrics
    err_naive = np.mean(np.diff(np.array(actual)))
    metrics["mase"] = np.mean(np.abs((actual-pred)/err_naive))
    
    return metrics

In [47]:
actual = np.array([1,2,2,3])
pred = np.array([1.1, 2.1, 2.05, 3.05])
pred_naive = np.array([1, 2, 2])

validate(actual, pred, 1)

<ipython-input-46-e3baf9d2f252>:33: RuntimeWarning: divide by zero encountered in true_divide
  metrics["mdrae"] = np.median(np.abs((actual-pred)/(actual-y_mean)))

{'mean_error': -0.07499999999999996,
 'std_error': 0.025000000000000133,
 'r2': 0.9875,
 'predict_out': 2,
 'mae': 0.07499999999999996,
 'rmse': 0.07905694150420949,
 'mape': 4.791666666666666,
 'smape': 4.630971667187484,
 'mdrae': 0.07499999999999996,
 'mase': 0.11249999999999993}

In [42]:
np.median(actual)

2.0

In [45]:
np.mean(np.diff(np.array(actual)))

0.6666666666666666

In [44]:
actual[1:] - pred_naive

array([1, 0, 1])