<div style="background-color: #EDF7FF; border-color: #7C9DBF; border-left: 5px solid #7C9DBF; padding: 0.5em;">
 

<strong>Objectives:</strong>
+ Variables significativas para el clustering de productos
    
    
<strong>Conclusions:</strong>

   
</div>

In [1]:
import os, sys

def get_root_path(search_word):
    """ Búsqueda hacia atrás de un directorio con nombre search_word. """
    cwd = os.getcwd()
    while str(os.getcwd()).split('/')[-1] != search_word:
        os.chdir("..")
        cwd = os.getcwd()
    return cwd

ROOT_DIR = get_root_path('TFM_StockForecast')

sys.path.insert(0, ROOT_DIR) # Poner en el primer lugar del PATH (evitar paquetes con mismos nombres en otros directorios)

In [3]:
import pandas as pd
import numpy as np
from src.load_data import load_clustering_data

In [4]:
df = load_clustering_data()
df.head()

===================  LOAD DATASET stock ====================
Reading CSV in data/raw/03_TablaStock.csv...
=============  CLEAN CSV  ==============
Set columns to lowcase.
Sort values by date.
Dropped duplicates. Rows dropped: 628.
========================================
============  CLEAN STOCK  =============
Dropped rows with data from products with no stock data or out-of-date (descatalogados). Rows dropped: 1784
[WARNING] Number of dates missings:                                83
[WARNING] Number of dates missings (droping sundays and festivos): 63
[WARNING] Stock data with different units for same product & data. Rows: 12666
========================================
Dataset stock loaded. Shape: (25518, 3)
============================================================

===================  LOAD DATASET ventas ===================
Reading CSV in data/raw/01_TablaVentas.csv...
=============  CLEAN CSV  ==============
Set columns to lowcase.
Sort values by date.
Dropped duplicates. Rows dropped: 0.
========================================
============  CLEAN VENTAS  ============
Dropped rows with data from products with no stock data or out-of-date (descatalogados). Rows dropped: 14086
[WARNING] Number of dates missings:                                223
[WARNING] Number of dates missings (droping sundays and festivos): 7
UnidadesVentas to integer.
========================================
Dataset ventas loaded. Shape: (91571, 3)
============================================================

=================  LOAD DATASET prevision ==================
Reading CSV in data/raw/04_PrevisionEmpresa.csv...
=============  CLEAN CSV  ==============
Set columns to lowcase.
Sort values by date.
Dropped duplicates. Rows dropped: 0.
========================================
==========  CLEAN PREVISION  ===========
Dropped rows with data from products with no stock data or out-of-date (descatalogados). Rows dropped: 3234
[WARNING] Number of dates missings:                                46
[WARNING] Number of dates missings (droping sundays and festivos): 35
UnidadesPrevisionVentas to integer.
========================================
Dataset prevision loaded. Shape: (22342, 3)
============================================================

==================  LOAD DATASET festivos ==================
Reading CSV in data/raw/05_Festivos.csv...
=============  CLEAN CSV  ==============
Set columns to lowcase.
Sort values by date.
Dropped duplicates. Rows dropped: 0.
========================================
===========  CLEAN FESTIVOS  ===========
Drop unnecesary columns.
========================================
Dataset festivos loaded. Shape: (56, 2)
============================================================

===================  LOAD DATASET promos ===================
Reading CSV in data/raw/02_TablaPromos.csv...
=============  CLEAN CSV  ==============
Set columns to lowcase.
Sort values by date.
Dropped duplicates. Rows dropped: 0.
========================================
============  CLEAN PROMOS  ============
Drop rows of promos without end date:
   Rows dropped: 11
   The most recent of the promos dropped was started in 2018-04-01 00:00:00
Created new variable ahorro (preciotarifa - preciopromo)
========================================
Dataset promos loaded. Shape: (6399, 11)
============================================================

==================  BUILD RANGED PROMOS  ===================
Dataset promos from intervals to range builded.
============================================================

===================  JOIN DATASET STOCK  ===================
Input shape: (25518, 3)
[WARNING] Dropping duplicates in fecha | producto for stock data [TEMPORARY]
Stock dataframe received with data from 2019-06-05 to 2020-03-26
Created dataframe for 296 days and 72 products [shape: (21312, 2)]
Merged dataframe with stock data    [shape: (21312, 3)]
Merged dataframe with ventas data    [shape: (21312, 4)]
Merged dataframe with prevision data    [shape: (21312, 5)]
Merged dataframe with promos range data    [shape: (21312, 6)]
Merged dataframe with festivos data    [shape: (21312, 7)]
Output shape: (21312, 8)
============================================================

================  BUILD VENTAS BY PRODUCTO  ================
Dataset ventas by product builded
============================================================

,producto,fecha_primera_venta,fecha_ultima_venta,freq_venta,venta_min,venta_q5,venta_q25,venta_median,venta_q75,venta_q95,venta_max,venta_iqr,venta_mean,venta_std,venta_CV,venta_skew,venta_kurtosis,venta_mad
0,1,2019-06-05,2020-03-22,292,0.0,0.0,472.0,1889.0,6140.00,12232.80,41564.0,5668.00,4014.339041,5951.822563,1.480100,3.428471,15.050234,3784.991603
1,10,2019-06-05,2020-03-22,292,0.0,0.0,0.0,1792.5,3032.50,5186.75,9490.0,3032.50,1878.434932,1730.163792,0.919488,0.760667,0.586530,1398.386400
2,11,2019-06-05,2020-03-22,292,0.0,0.0,551.0,1653.0,2755.00,4408.00,22041.0,2204.00,2058.712329,2431.126410,1.178873,4.854331,34.470112,1393.291518
3,12,2019-06-05,2020-03-22,292,0.0,0.0,469.5,870.0,1283.75,1833.05,5057.0,814.25,899.684932,698.482255,0.775033,1.546503,6.426522,504.840683
4,13,2019-06-05,2020-03-22,292,0.0,0.0,0.0,1549.0,2442.50,3856.00,5421.0,2442.50,1507.482877,1322.287707,0.875646,0.435647,-0.589084,1091.281174

In [5]:
df.describe()

,freq_venta,venta_min,venta_q5,venta_q25,venta_median,venta_q75,venta_q95,venta_max,venta_iqr,venta_mean,venta_std,venta_CV,venta_skew,venta_kurtosis,venta_mad
count,72.0,72.0,72.0,72.000000,72.000000,72.000000,72.000000,72.000000,72.000000,72.000000,72.000000,72.000000,72.000000,72.000000,72.000000
mean,292.0,0.0,0.0,249.138889,799.812500,1229.253472,1956.709028,5557.652778,980.114583,843.649068,786.930076,0.943653,1.318037,6.462266,567.246600
std,0.0,0.0,0.0,405.502108,767.929824,1217.494145,2001.825187,8408.764072,1001.939088,841.731760,945.586440,0.398300,1.532109,14.017756,604.043908
min,292.0,0.0,0.0,0.000000,0.000000,3.750000,44.000000,66.000000,3.750000,17.270548,15.456138,0.597458,-0.305244,-1.314003,12.728162
25%,292.0,0.0,0.0,0.000000,290.750000,426.937500,733.150000,1544.250000,367.937500,291.979452,257.949611,0.761951,0.440521,0.254472,210.589909
50%,292.0,0.0,0.0,87.125000,553.000000,837.000000,1332.325000,2561.500000,676.125000,566.832192,505.846456,0.842732,0.871292,1.690436,379.032042
75%,292.0,0.0,0.0,297.562500,1006.000000,1430.937500,2020.875000,5295.750000,1036.187500,972.037671,891.297237,0.965535,1.420597,5.433563,553.079881
max,292.0,0.0,0.0,2067.750000,4132.000000,6140.000000,12232.800000,41564.000000,5668.000000,4212.236301,5951.822563,2.706029,7.195982,79.935774,3784.991603