<div style="background-color: #EDF7FF; border-color: #7C9DBF; border-left: 5px solid #7C9DBF; padding: 0.5em;">
 

<strong>Objectives:</strong>

    
    
<strong>Conclusions:</strong>

   
</div>

In [1]:
import os, sys

def get_root_path(search_word):
    """ Búsqueda hacia atrás de un directorio con nombre search_word. """
    cwd = os.getcwd()
    while str(os.getcwd()).split('/')[-1] != search_word:
        os.chdir("..")
        cwd = os.getcwd()
    return cwd

ROOT_DIR = get_root_path('TFM_StockForecast')

sys.path.insert(0, ROOT_DIR) # Poner en el primer lugar del PATH (evitar paquetes con mismos nombres en otros directorios)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from src.load_data import load_csv, load_data

In [3]:
df = load_data()
df.head()

===================  LOAD DATASET stock ====================
Reading CSV in data/raw/03_TablaStock.csv...
=============  CLEAN CSV  ==============
Set columns to lowcase.
Sort values by date.
Dropped duplicates. Rows dropped: 628.
========================================
============  CLEAN STOCK  =============
Dropped rows with data from products with no stock data or out-of-date (descatalogados). Rows dropped: 1784
[WARNING] Number of dates missings:                                83
[WARNING] Number of dates missings (droping sundays and festivos): 63
[WARNING] Stock data with different units for same product & data. Rows: 12666
========================================
Dataset stock loaded. Shape: (25518, 3)
============================================================

===================  LOAD DATASET ventas ===================
Reading CSV in data/raw/01_TablaVentas.csv...
=============  CLEAN CSV  ==============
Set columns to lowcase.
Sort values by date.
Dropped duplicates. Rows dropped: 0.
========================================
============  CLEAN VENTAS  ============
Dropped rows with data from products with no stock data or out-of-date (descatalogados). Rows dropped: 14086
[WARNING] Number of dates missings:                                223
[WARNING] Number of dates missings (droping sundays and festivos): 7
UnidadesVentas to integer.
========================================
Dataset ventas loaded. Shape: (91571, 3)
============================================================

=================  LOAD DATASET prevision ==================
Reading CSV in data/raw/04_PrevisionEmpresa.csv...
=============  CLEAN CSV  ==============
Set columns to lowcase.
Sort values by date.
Dropped duplicates. Rows dropped: 0.
========================================
==========  CLEAN PREVISION  ===========
Dropped rows with data from products with no stock data or out-of-date (descatalogados). Rows dropped: 3234
[WARNING] Number of dates missings:                                46
[WARNING] Number of dates missings (droping sundays and festivos): 35
UnidadesPrevisionVentas to integer.
========================================
Dataset prevision loaded. Shape: (22342, 3)
============================================================

==================  LOAD DATASET festivos ==================
Reading CSV in data/raw/05_Festivos.csv...
=============  CLEAN CSV  ==============
Set columns to lowcase.
Sort values by date.
Dropped duplicates. Rows dropped: 0.
========================================
===========  CLEAN FESTIVOS  ===========
Drop unnecesary columns.
========================================
Dataset festivos loaded. Shape: (56, 2)
============================================================

===================  LOAD DATASET promos ===================
Reading CSV in data/raw/02_TablaPromos.csv...
=============  CLEAN CSV  ==============
Set columns to lowcase.
Sort values by date.
Dropped duplicates. Rows dropped: 0.
========================================
============  CLEAN PROMOS  ============
Drop rows of promos without end date:
   Rows dropped: 11
   The most recent of the promos dropped was started in 2018-04-01 00:00:00
Created new variable ahorro (preciotarifa - preciopromo)
========================================
Dataset promos loaded. Shape: (6399, 11)
============================================================

==================  BUILD RANGED PROMOS  ===================
Dataset promos from intervals to range builded.
============================================================

===================  JOIN DATASET STOCK  ===================
Input shape: (25518, 3)
[WARNING] Dropping duplicates in fecha | producto for stock data [TEMPORARY]
Stock dataframe received with data from 2019-06-05 to 2020-03-26
Created dataframe for 296 days and 72 products [shape: (21312, 2)]
Merged dataframe with stock data    [shape: (21312, 3)]
Merged dataframe with ventas data    [shape: (21312, 4)]
Merged dataframe with prevision data    [shape: (21312, 5)]
Merged dataframe with promos range data    [shape: (21312, 6)]
Merged dataframe with festivos data    [shape: (21312, 7)]
Output shape: (21312, 7)
============================================================

=================  CLEANER DATASET STOCK  ==================
Input shape: (21312, 7)
Getting stock missing type

/mnt/c/Users/Administrador/Documents/GitHub/TFM_StockForecast/src/create_variables.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ts['missing'] = (ts.udsstock.isna()) * 1

Getting datetime variables: weekday
============================================================

,fecha,producto,udsstock,udsventa,udsprevisionempresa,promo,festivo,stockMissingType,weekday
0,2019-06-05,1,18275.0,2833.0,102304.0,0.0,0.0,0.0,2
1,2019-06-05,10,2267.0,1874.0,36888.0,1.0,0.0,0.0,2
2,2019-06-05,11,2506.0,2755.0,31078.0,0.0,0.0,0.0,2
3,2019-06-05,12,1279.0,1161.0,33661.0,0.0,0.0,0.0,2
4,2019-06-05,13,2493.0,1603.0,32119.0,1.0,0.0,0.0,2

In [4]:
df.info()
df

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21312 entries, 0 to 21311
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   fecha                21312 non-null  datetime64[ns]
 1   producto             21312 non-null  object
 2   udsstock             12852 non-null  float64
 3   udsventa             15891 non-null  float64
 4   udsprevisionempresa  16354 non-null  float64
 5   promo                21312 non-null  float64
 6   festivo              21312 non-null  float64
 7   stockMissingType     21312 non-null  float64
 8   weekday              21312 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(1), object(1)
memory usage: 1.6+ MB

,fecha,producto,udsstock,udsventa,udsprevisionempresa,promo,festivo,stockMissingType,weekday
0,2019-06-05,1,18275.0,2833.0,102304.0,0.0,0.0,0.0,2
1,2019-06-05,10,2267.0,1874.0,36888.0,1.0,0.0,0.0,2
2,2019-06-05,11,2506.0,2755.0,31078.0,0.0,0.0,0.0,2
3,2019-06-05,12,1279.0,1161.0,33661.0,0.0,0.0,0.0,2
4,2019-06-05,13,2493.0,1603.0,32119.0,1.0,0.0,0.0,2
...,...,...,...,...,...,...,...,...,...
21307,2020-03-26,95,NaN,NaN,NaN,0.0,0.0,2.0,3
21308,2020-03-26,96,465.0,NaN,266.0,1.0,0.0,0.0,3
21309,2020-03-26,97,395.0,NaN,235.0,0.0,0.0,0.0,3
21310,2020-03-26,98,95.0,NaN,243.0,0.0,0.0,0.0,3
21311,2020-03-26,99,NaN,NaN,NaN,0.0,0.0,2.0,3

In [39]:
df.loc[df.udsstock.isna()].groupby('producto')['fecha'].count().reset_index().sort_values("fecha", ascending=True).head(10)

   producto  fecha
50       68     85
48       66     87
24       36     87
1        10     88
14       23     88
54       74     88
26       38     89
17       28     89
13       22     89
36       50     89

In [5]:
df1 = df.loc[df.producto == "1"]

df1.info()
df1

<class 'pandas.core.frame.DataFrame'>
Int64Index: 296 entries, 0 to 21240
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   fecha                296 non-null    datetime64[ns]
 1   producto             296 non-null    object
 2   udsstock             197 non-null    float64
 3   udsventa             224 non-null    float64
 4   udsprevisionempresa  238 non-null    float64
 5   promo                296 non-null    float64
 6   festivo              296 non-null    float64
 7   stockMissingType     296 non-null    float64
 8   weekday              296 non-null    int64
dtypes: datetime64[ns](1), float64(6), int64(1), object(1)
memory usage: 23.1+ KB

,fecha,producto,udsstock,udsventa,udsprevisionempresa,promo,festivo,stockMissingType,weekday
0,2019-06-05,1,18275.0,2833.0,102304.0,0.0,0.0,0.0,2
72,2019-06-06,1,NaN,17475.0,34479.0,1.0,0.0,2.0,3
144,2019-06-07,1,NaN,4250.0,25127.0,0.0,0.0,2.0,4
216,2019-06-08,1,NaN,NaN,98716.0,0.0,0.0,2.0,5
288,2019-06-09,1,NaN,NaN,NaN,0.0,0.0,2.0,6
...,...,...,...,...,...,...,...,...,...
20952,2020-03-22,1,4283.0,NaN,NaN,0.0,0.0,0.0,6
21024,2020-03-23,1,4283.0,NaN,2267.0,0.0,0.0,0.0,0
21096,2020-03-24,1,4344.0,NaN,3211.0,0.0,0.0,0.0,1
21168,2020-03-25,1,1058.0,NaN,13036.0,0.0,0.0,0.0,2
21240,2020-03-26,1,3375.0,NaN,7557.0,0.0,0.0,0.0,3

In [33]:
data = df1


def assign_laborables(data):
    for day in [1]: #data.weekday.unique():
        day_data = data.loc[(data.festivo == 0) & (data.weekday == day)]
        day_data['rolling_udsstock'] = day_data['udsstock'].rolling(3, win_type='triang', min_periods=1).mean()
        print(day_data)
        
assign_laborables(data[['udsstock', 'festivo','weekday']])

       udsstock  festivo  weekday  rolling_udsstock
432      2920.0      0.0        1       2920.000000
936      5051.0      0.0        1       3630.333333
1440     4238.0      0.0        1       4315.000000
1944        NaN      0.0        1       4509.000000
2448        NaN      0.0        1       4238.000000
2952     5504.0      0.0        1       5504.000000
3456     2642.0      0.0        1       4550.000000
3960     3307.0      0.0        1       3523.750000
4464        NaN      0.0        1       3085.333333
4968    14664.0      0.0        1       8985.500000
5472    10998.0      0.0        1      13442.000000
5976        NaN      0.0        1      12220.000000
6480        NaN      0.0        1      10998.000000
6984     2778.0      0.0        1       2778.000000
7488        NaN      0.0        1       2778.000000
7992    32823.0      0.0        1      17800.500000
8496     2855.0      0.0        1      22833.666667
9000     2480.0      0.0        1      10253.250000
9504     2558.0      0.0        1       2593.250000
10008    5290.0      0.0        1       3221.500000
10512    6860.0      0.0        1       4999.500000
11016    2623.0      0.0        1       5408.250000
11520       NaN      0.0        1       4035.333333
12024    4070.0      0.0        1       3346.500000
12528   15148.0      0.0        1       7762.666667
13032   17164.0      0.0        1      12882.500000
13536       NaN      0.0        1      16492.000000
14040    5219.0      0.0        1      11191.500000
14544       NaN      0.0        1       5219.000000
15048    9037.0      0.0        1       7128.000000
15552       NaN      0.0        1       9037.000000
16056       NaN      0.0        1       9037.000000
16560    5943.0      0.0        1       5943.000000
17064   38314.0      0.0        1      16733.333333
17568    2300.0      0.0        1      21217.750000
18072    2668.0      0.0        1      11395.500000
18576    4728.0      0.0        1       3091.000000
19080    8172.0      0.0        1       5074.000000
19584   41460.0      0.0        1      15633.000000
20088    2002.0      0.0        1      23273.500000
20592       NaN      0.0        1      15154.666667
21096    4344.0      0.0        1       3173.000000

<ipython-input-33-1005a4fd62b4>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  day_data['rolling_udsstock'] = day_data['udsstock'].rolling(3, win_type='triang', min_periods=1).mean()

In [9]:
data.fillna(method='pad', limit=1).loc[(data.festivo == 1) | (data.weekday == 6), 'udsstock'].fillna(method='pad', limit=1)

288          NaN
792        407.0
1296     12616.0
1800     12616.0
2304         NaN
2808      4619.0
3312      2048.0
3816      1725.0
4320     15704.0
4824      5685.0
5112      5685.0
5328     40756.0
5832     40756.0
6336         NaN
6840         NaN
7344     12797.0
7848     19496.0
8352      2687.0
8856      7492.0
9288      1802.0
9360      1802.0
9864      1641.0
10368     6331.0
10728     3708.0
10872      607.0
11376     7274.0
11880     2345.0
12384     3469.0
12888    57022.0
13248    11014.0
13392    11014.0
13464    11014.0
13896    11305.0
14400     8902.0
14616     8902.0
14904     4716.0
15120     2836.0
15408     1453.0
15480     1453.0
15912     9502.0
16416     4735.0
16920     4735.0
17424    12765.0
17928     1860.0
18432     1860.0
18936        NaN
19440    27552.0
19944    27552.0
20448      549.0
20952     4283.0
Name: udsstock, dtype: float64

In [7]:
from src.prepare_data import prepare_train_data

df_prepared = prepare_train_data(df1)

df_prepared.info()

===================  FILTER TRAIN DATA  ====================
Dropped rows corresponding to 23 to 26-03-2020 for not having the ventas data for these days.
Rows dropped: 4
Dropped rows corresponding to missing from periods longer than one day.
Rows dropped: 85
Assigned missings in udstock with fill forward method with 1 period limit
Output shape: (207, 9)
============================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   fecha                207 non-null    datetime64[ns]
 1   producto             207 non-null    object
 2   udsstock             207 non-null    float64
 3   udsventa             170 non-null    float64
 4   udsprevisionempresa  176 non-null    float64
 5   promo                207 non-null    float64
 6   festivo              207 non-null    float64
 7   stockMissingType     207 non-null    float64
 8   weekday              207 non-null    int64
dtypes: datetime64[ns](1), float64(6), int64(1), object(1)
memory usage: 14.7+ KB

In [6]:
df_prepared.stockMissingType.value_counts()

0.0    12609
1.0      973
Name: stockMissingType, dtype: int64

In [10]:
df_prepared['udsstock'] = df_prepared['udsstock'].sort_values('producto').fillna(method='pad', limit=2)
df_prepared.stockMissingType.value_counts()

ValueError: No axis named producto for object type <class 'pandas.core.series.Series'>

In [9]:
df_prepared.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13582 entries, 0 to 13581
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   fecha                13582 non-null  datetime64[ns]
 1   producto             13582 non-null  object
 2   udsstock             12946 non-null  float64
 3   udsventa             11031 non-null  float64
 4   udsprevisionempresa  11099 non-null  float64
 5   promo                13582 non-null  float64
 6   festivo              13582 non-null  float64
 7   stockMissingType     13582 non-null  float64
 8   weekday              13582 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(1), object(1)
memory usage: 955.1+ KB

# Missings totales de cada tipo

In [7]:
df.stockMissingType.value_counts()

0.0    12852
2.0     7486
1.0      974
Name: stockMissingType, dtype: int64

# Missings por producto

In [12]:
byprod = df.loc[df.stockMissingType != 0].groupby('producto')['fecha'].count().reset_index().sort_values("fecha", ascending=False)

byprod.loc[byprod.fecha > 150]

   producto  fecha
71       99    292
58       80    279
60       85    235
67       95    232
41       58    221
38       53    203
35        5    177
37       52    162
43       60    161
18       29    153

# Datos asignables por producto)

In [18]:
byprod = df.loc[df.stockMissingType != 2].groupby('producto')['fecha'].count().reset_index().sort_values("fecha")

print("Series con menos de 100 datos asignables:")
byprod.loc[byprod.fecha < 100]

Series con menos de 100 datos asignables:

   producto  fecha
71       99      5
58       80     19
60       85     64
67       95     75
41       58     82
38       53     99

In [ ]:
byprod.sort_values("fecha").a

# Missings totales quitando los productos con menos de 100 datos asignables

In [21]:
discard_prod = byprod.loc[byprod.fecha < 100].producto
df.loc[~df.producto.isin(discard_prod)].stockMissingType.value_counts()

0.0    12538
2.0     6054
1.0      944
Name: stockMissingType, dtype: int64

In [46]:
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error
from math import sqrt
def validate(actual, pred, y_mean=None):
    """
    Computes different metrics in order to validate a model (mape, mae, std_error, R2, RMSE). 
    
    Args:
        actual (list, np.array or a pd.Series): contains the values of target variable in the test set.
        pred (list, np.array or a pd.Series): contains the values of predicted target variable.
    Returns:
        metrics (dictionary):   a dictionary which cointains the metrics that will evaluate the prediction 
                                error of the model
    """
    metrics = {}
    actual, pred = np.array(actual), np.array(pred)
    # Base metrics
    metrics["mean_error"] = (actual-pred).mean()
    std_error = np.std(actual-pred)
    metrics["std_error"] = std_error
    metrics["r2"] = r2_score(actual,pred)
    metrics["predict_out"] = sum(pred>actual+2*std_error)+sum(pred<actual-2*std_error)

    # Scale dependant metrics
    metrics["mae"] = mean_absolute_error(actual,pred)
    metrics["rmse"] = sqrt(mean_squared_error(actual,pred))

    # Percentage metrics
    metrics["mape"] = np.mean(np.abs(actual - pred) / actual) * 100
    metrics["smape"] = np.mean(np.abs(actual - pred) / (actual + pred)) * 200

    # Relative error metrics (relative to avg prediction)
    if y_mean != None:
        metrics["mdrae"] = np.median(np.abs((actual-pred)/(actual-y_mean)))
    
    # Scale-free error metrics
    err_naive = np.mean(np.diff(np.array(actual)))
    metrics["mase"] = np.mean(np.abs((actual-pred)/err_naive))
    
    return metrics

In [47]:
actual = np.array([1,2,2,3])
pred = np.array([1.1, 2.1, 2.05, 3.05])
pred_naive = np.array([1, 2, 2])

validate(actual, pred, 1)

<ipython-input-46-e3baf9d2f252>:33: RuntimeWarning: divide by zero encountered in true_divide
  metrics["mdrae"] = np.median(np.abs((actual-pred)/(actual-y_mean)))

{'mean_error': -0.07499999999999996,
 'std_error': 0.025000000000000133,
 'r2': 0.9875,
 'predict_out': 2,
 'mae': 0.07499999999999996,
 'rmse': 0.07905694150420949,
 'mape': 4.791666666666666,
 'smape': 4.630971667187484,
 'mdrae': 0.07499999999999996,
 'mase': 0.11249999999999993}

In [42]:
np.median(actual)

2.0

In [45]:
np.mean(np.diff(np.array(actual)))

0.6666666666666666

In [44]:
actual[1:] - pred_naive

array([1, 0, 1])